@charset "utf-8";

/* CSS Document */


/************************************
====================================
TABLE OF CONTENTS
0. Reset
1. Universal Styles
2. Header and Nav styles (menu structure, lists, ordered and unordered)
3. Main Body Content (paragraphs, image styling)
4. Side bar content (adds, search bar, )
5. Widget Content (not necessarily in the side)
6. Footer Content (images, forms, twitter, facebook icons)
7. Comments and Forms
====================================
************************************/


/*====================================
0. Reset
====================================*/

 td, tr { padding:0!important; margin:0!important; border:none; }

/*====================================
3. Main Body Content (paragraphs, image styling)
====================================*/


    @media only screen and (max-width: 796px){
		#optional {display:none;}
    }
	
	

#corner {
	display:block;
	width: 5px;
	height: 5px;
	background-color:#FFFFCC;
	}	
	
 .corner {
	max-width:5px;
	max-height:5px;
	} 

 #corner, .borderleft, .borderright, div.optionalimage 
  { 
	border-color: #788cc9; 
	border-width:2px;
	border-style: solid;
	margin-collapse: none;
	}
	
.borderleft { border-width: 0 2px 0 0; }
.borderright { border-width: 0 0 0 2px; }	
.bowtop, .bowbottom { background-repeat: repeat-x; border:none; }

.bowtop {
	background-image: url(http://www.jewsforjesus.org/htmlpages/htkg/bow-top.png);
	background-position: center bottom;
	}
	
.bowbottom {
	background-image: url(http://www.jewsforjesus.org/htmlpages/htkg/bow-bottom.png);
	background-position: center top;
	}

div.optionalimage {
	display:block;
	width: 244px; /*244*/
	height: 196px;
	border-width: 2px 2px 2px 0;
	background-repeat: no-repeat;
	background-position: center center;
	}
		

.introtext p {
	color: #666666;
	font-style:italic;
	font-size: 16px; /*16px*/
	line-height: 26px; /*26px*/
	padding: 1em 2em;
	}	
	

.introtext p:first-child:first-letter { 
	float: left; 
	color: #6f438e; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px;  
	}

table { 
	border-spacing: 0px
	border-collapse: seperate!important;
}

#ja-container blockquote p { 
	padding:0 30px;
	line-height: 3em;
	font-size:14px;
	font-style:italic;
	
	
	}
#ja-container p { padding-bottom:0px; }	
#ja-container blockquote { 
	background-color: #FFF!important; 
	margin: 0 0 0 30px!important;
	padding 0 0 20px 0;
	width: 75%;
	
	}	/*FFFFCC*/